@import 'footer.scss';
@import 'header.scss';
@import 'compare.scss';
@import 'home.scss';
@import 'pricing.scss';
@import 'stylebook.scss';
@import 'back-to-top.scss';
@import 'slider.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.section-pt-80 {
	padding-top: 80px;
	@media screen and (max-width: 960px) {
		padding-top: 60px;
	}
	@media screen and (max-width: 640px) {
		padding-top: 50px;
	}
	@media screen and (max-width: 425px) {
		padding-top: 40px;
	}
}
.section-pt-104 {
	padding-top: 104px;
	@media screen and (max-width: 960px) {
		padding-top: 90px;
	}
	@media screen and (max-width: 640px) {
		padding-top: 70px;
	}
	@media screen and (max-width: 425px) {
		padding-top: 60px;
	}
}
.section-pt-120 {
	padding-top: 120px;
	@media screen and (max-width: 960px) {
		padding-top: 90px;
	}
	@media screen and (max-width: 640px) {
		padding-top: 70px;
	}
	@media screen and (max-width: 425px) {
		padding-top: 60px;
	}
}

@keyframes top-btn-ani {
	0% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes drag-line-ani {
	0% {
		transform: translate(0, -50%);
	}
	100% {
		transform: translate(-20px, -50%);
	}
}

.section-pricing {
	&__title {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 48px;
		line-height: 70px;
		color: #141414;
	}
}

.slider-price {
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	text-transform: uppercase;
	&--dark {
		color: #141414;
	}
	&--light {
		color: #fff;
	}
}

.read-more {
	color: #dd983e;
}

a.btn {
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	padding: 10px 20px;
	transition: 0.2s ease;
	&--light {
		color: #fff;
		border: 1px solid #fff;
		&:hover {
			background-color: #dd983e;
			border: 1px solid #dd983e;
		}
	}

	&--dark {
		color: #141414;
		border: 1px solid #141414;

		&:hover {
			background-color: #141414;
			color: #fff;
			border: 1px solid #141414;
		}
	}
}

.title-h1 {
	color: #141414;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 64px;
	@media screen and(max-width:450px) {
		font-size: 52px;
		line-height: 52px;
	}
	span {
		color: #dd983e;
	}
}

.title-h2 {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 600;
	font-size: 48px;
	line-height: 70px;
	&--light {
		color: #ffffff;
	}
	&--dark {
		color: #141414;
	}
}

.subtitle {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
	color: #dd983e;
}
