* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	width: 100%;
	height: 118px;

	&__container {
		height: 100%;
		vertical-align: middle;
	}
	&__logo {
	}

	&__navigation {
		&__list {
			list-style: none;
			margin-bottom: 0;
			column-gap: 32px;
		}

		&__item {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
		}

		a {
			position: relative;
			text-decoration: none;
			color: #282828;
			transition: 0.2s ease;
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 1px;
				bottom: -2px;
				left: 0;
				background-color: #dd983e;
				transform-origin: bottom right;
				transition: transform 0.2s ease-out;
			}

			&:hover {
				color: #dd983e;
			}

			&:hover:after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

	&__links {
		.header__social {
			list-style: none;
			margin-bottom: 0;
			column-gap: 12px;
			&__item {
				a {
					color: #282828;
					text-decoration: none;

					span {
						transition: 0.2s ease;
					}
				}

				&:hover span {
					color: #dd983e;
				}
			}
		}
		&-login {
			margin-left: 42px;
			a {
				color: #282828;
				text-decoration: none;
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				transition: 0.2s ease;

				&:hover {
					color: #dd983e;
				}
			}
		}
	}
}

.intro-section {
	padding: 80px 0;
}

.intro {
	h1 {
		color: #141414;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 600;
		font-size: 64px;
		line-height: 64px;
		span {
			color: #dd983e;
		}
	}
	p {
		font-weight: 400;
		font-size: 20px;
		line-height: 36px;
		color: #141414;
		margin-bottom: 30px;
	}
	a {
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #141414;
		padding: 10px 20px;
		border: 1px solid #141414;
		margin-top: 30px;
		transition: 0.2s ease;
		&:hover {
			background-color: #dd983e;
			color: #fff;
			border: 1px solid #dd983e;
		}
	}
}

.how-work-section {
	padding-top: 120px;
}

.how-work {
	h2 {
		font-weight: 600;
		font-size: 48px;
		line-height: 70px;
		color: #141414;
	}
	&__accordion {
		li {
			position: relative;
			padding: 20px 0 24px;
			border-bottom: 1px solid #141414;
			margin-top: 0 !important;
			.uk-accordion-title {
				position: relative;
				padding-left: 108px;
				font-weight: 700;
				font-size: 28px;
				line-height: 34px;
				text-transform: uppercase;
				color: #141414;
				transition: 0.1s ease;
				&::before {
					display: none;
				}
			}
			.uk-accordion-content {
				padding-left: 108px;

				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				margin-top: 12px;
			}
			.accordion__counter {
				position: absolute;
				left: 30px;
				top: 0;
				font-weight: 700;
				font-size: 28px;
				line-height: 34px;
				color: #141414;
				transition: 0.1s ease;
				&::before {
					position: absolute;
					content: '/';
					left: -14px;
					font-weight: 600;
					font-size: 24px;
				}
				&::after {
					position: absolute;
					content: '/';
					left: -28px;
					font-weight: 400;
					font-weight: 600;
					font-size: 24px;
				}
			}

			&.uk-open {
				.uk-accordion-title,
				.accordion__counter {
					color: #dd983e;
				}
			}
		}
	}
}

.result {
	position: relative;
	padding: 120px 0 134px;
	background-color: #282828;
}

.result__item {
	position: relative;
	height: 100%;
	vertical-align: middle;
	padding-bottom: 10px;
	.content-column {
		padding-left: 75px;
		@media screen and (max-width: 640px) {
			padding-left: 30px;
		}
	}
	h2 {
		font-family: 'Montserrat', sans-serif !important;
		font-weight: 700;
		font-size: 28px;
		line-height: 34px;
		text-transform: uppercase;
		color: #ffffff;
		margin-bottom: 16px;
	}
	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #ffffff;
		opacity: 0.6;
		margin: 0 0 40px 0;
	}
	a {
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		color: #fff;
		padding: 10px 20px;
		border: 1px solid #fff;
		margin-top: 30px;
		transition: 0.2s ease;
		&:hover {
			background-color: #dd983e;
			color: #fff;
			border: 1px solid #dd983e;
		}
	}
}

.slide-caption {
	position: relative;
	color: #fff;
	z-index: 9999;
	bottom: -35px;
}

.slide-counter {
	font-weight: 600;
	font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
}
.slide-counter.scroll {
	position: relative;
	&::before {
		position: absolute;
		content: '';
		background-color: #fff;
		width: 66px;
		height: 1px;
		top: 50%;
		left: -80px;
		transform: translate(0, -50%);
		animation: 1.5s ease infinite alternate drag-line-ani;
	}
}

.image-column {
	max-height: 400px;
	height: 100%;
	overflow: hidden;
}
.image-column figure {
	background-size: cover;
	font-size: 0;
	height: 100%;
	margin: 0;
	position: relative;
	width: 100%;
}
.compare {
	background-size: cover;
	bottom: 0;
	height: 100%;
	max-width: 98.6%;
	min-width: 0.6%;
	overflow: visible;
	position: absolute;
	width: 50%;
	animation: first 2s 1 normal ease-in-out 0.1s;
	-webkit-animation: first 2s 1 normal ease-in-out 0.1s;
}

.compare::before {
	background: url('../images/divider.svg') no-repeat scroll 0 center transparent;
	background-size: contain;
	content: ' ';
	float: right;
	height: 100%;
	margin-right: -40px;
	position: relative;
	top: 0;
	width: 64px;
}
input.slider {
	-moz-appearance: none;
	-webkit-appearance: none;
	border: none;
	background: transparent;
	cursor: col-resize;
	height: 100vw;
	left: 0;
	margin: 0;
	outline: none;
	padding: 0;
	position: relative;
	top: -100vw;
	width: 100%;
}
input.slider::-moz-range-track {
	background: transparent;
}
input.slider::-ms-track {
	border: none;
	background-color: transparent;
	height: 100vw;
	left: 0;
	outline: none;
	position: relative;
	top: -100vw;
	width: 100%;
	margin: 0;
	padding: 0;
	cursor: col-resize;
	color: transparent;
}
input.slider::-ms-fill-lower {
	background-color: transparent;
}
input.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 100vw;
	width: 0.5%;
	opacity: 0;
}
input.slider::-moz-range-thumb {
	-moz-appearance: none;
	height: 100vw;
	width: 0.5%;
	opacity: 0;
}
input.slider::-ms-thumb {
	height: 100vw;
	width: 0.5%;
	opacity: 0;
}
input.slider::-ms-tooltip {
	display: none;
}

@keyframes first {
	0% {
		width: 0%;
	}
	50% {
		width: 80%;
	}
	100% {
		width: 50%;
	}
}
@-webkit-keyframes first {
	0% {
		width: 0%;
	}
	50% {
		width: 80%;
	}
	100% {
		width: 50%;
	}
}

.testimonials-section {
	padding-top: 120px;
}

.testimonials {
	padding: 80px;
	background-color: #282828;
	@media screen and (max-width: 640px) {
		padding: 60px 40px;
	}
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}
	h2 {
		font-weight: 600;
		font-size: 48px;
		line-height: 70px;
		color: #ffffff;
	}
	.subtitle {
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		text-transform: uppercase;
		color: #dd983e;
	}
	&__slider {
		padding: 24px 0;

		.item__name {
			h3 {
				font-family: 'Montserrat';
				font-style: normal;
				font-weight: 700;
				font-size: 28px;
				line-height: 34px;
				text-transform: uppercase;
				color: #ffffff;
				margin-bottom: 0;
			}
			span {
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				text-transform: uppercase;
				color: #dd983e;
				opacity: 0.8;
			}
		}
		.item__phrase {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #ffffff;
			margin: 24px 0;
		}
		.item__date {
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #ffffff;
			opacity: 0.7;
			margin: 24px 0;
		}
		.item__btn {
			a {
				text-decoration: none;
				font-weight: 400;
				font-size: 18px;
				line-height: 28px;
				color: #fff;
				padding: 10px 20px;
				border: 1px solid #fff;
				margin-top: 30px;
				transition: 0.2s ease;
				&:hover {
					background-color: #dd983e;
					color: #fff;
					border: 1px solid #dd983e;
				}
			}
		}
	}
}

.clients-section {
	padding-top: 40px;
}
.clients {
	padding: 80px;
	@media screen and (max-width: 640px) {
		padding: 60px 40px;
	}
	@media screen and (max-width: 425px) {
		padding: 50px 0;
	}
	h2 {
		font-weight: 600;
		font-size: 48px;
		line-height: 70px;
		color: #141414;
	}
	.subtitle {
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		text-transform: uppercase;
		color: #dd983e;
	}

	.slide-caption {
		color: #141414;
		.slide-counter.scroll::before {
			background-color: #141414;
		}
	}
	&__slider {
		img {
			width: 100%;
			max-width: 100%;
			height: 400px;
			object-fit: cover;
		}
	}
}

.back-to-top-section {
	padding: 42px 0;
	a {
		text-decoration: none;
		span {
			position: relative;
			font-weight: 600;
			font-size: 18px;
			line-height: 36px;
			text-transform: uppercase;
			color: #141414;
			text-decoration: none;
			transition: 0.2s ease;
		}
		svg {
			position: relative;
			margin-left: 15px;
			top: -4px;
			animation: 1s linear infinite alternate top-btn-ani;
			transform: translateY(0);
			path {
				transition: 0.2s ease;
			}
		}
		&:hover span {
			color: #dd983e;
		}
		&:hover svg path {
			fill: #dd983e;
		}
	}
}

@keyframes top-btn-ani {
	0% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes drag-line-ani {
	0% {
		transform: translate(0, -50%);
	}
	100% {
		transform: translate(-20px, -50%);
	}
}

footer {
	padding: 40px 0;
	background: #282828;
}
.footer {
	&__logo {
		display: flex;
		flex-direction: column;
		@media screen and (max-width: 640px) {
			justify-content: center;
			align-items: center;
		}
		img {
			margin-top: 16px;
		}
	}
	&__mail {
		font-weight: 600;
		font-size: 18px;
		line-height: 36px;
		text-transform: uppercase;
		color: #ffffff;
		@media screen and (max-width: 450px) {
			font-size: 12px;
			line-height: 26px;
		}
	}
	&__copyright {
		span {
			margin-top: 40px;
			font-weight: 400;
			font-size: 12px;
			line-height: 36px;
			color: #ffffff;
			opacity: 0.8;
			@media screen and (max-width: 450px) {
				margin-top: 10px;
			}
		}
	}
	&__nav {
		&__list {
			list-style: none;
			@media screen and (max-width: 640px) {
				padding-left: 0;
				text-align: center;
			}
			li {
				margin-bottom: 4px;
				a {
					font-weight: 600;
					font-size: 14px;
					line-height: 17px;
					text-transform: uppercase;
					color: #ffffff;
					text-decoration: none;
					transition: 0.2s ease;
					&:hover {
						color: #dd983e;
					}
				}
			}
		}
	}
	&__social {
		@media screen and (max-width: 640px) {
			padding-left: 0;
		}
		list-style-type: none;
		&__item {
			margin-left: 12px;
		}
		&__link {
			svg path {
				color: #fff;
				transition: 0.2s ease;
			}
			&:hover svg path {
				color: #dd983e;
			}
		}
	}
	&__languages {
		list-style-type: none;
		margin-top: 22px;
		@media screen and (max-width: 640px) {
			padding-left: 0;
		}
		li {
			margin-left: 16px;
			@media screen and (max-width: 640px) {
				margin: 0 8px;
			}
			a {
				font-weight: 600;
				font-size: 14px;
				line-height: 17px;
				text-transform: uppercase;
				text-decoration: none;
				color: #ffffff;
				opacity: 0.6;
				&.active {
					opacity: 1;
				}
			}
		}
	}
}
